{
  "extends": "eslint:recommended",
  "env": {
    "node": true,
    "es6": true
  },
  "rules": {
    "semi": ["error", "always"],
    "no-console": 0,
    "no-unused-vars": 0,
    "indent": [
      2,
      2,
      {
        "SwitchCase": 1
      }
    ],
    "valid-jsdoc": 1
  }
}
